node_modules/
platforms/
plugins/
dist/
www/

/config.xml
/ionic.config.json

src/theme/overrides.scss
src/assets/appConfig.json
src/assets/externalServices.json
src/assets/img/app
src/index.html
src/manifest.json
src/environments/index.ts
