<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="menuOpen()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ _3dctitle }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openFWebWallet()">
        <ion-icon slot="icon-only" name="more"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first" class="my-custom-menu">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="menuClose()">
          <ion-icon name="arrow-round-back"></ion-icon>
          <!-- src="../../../../assets/icon/backico.svg" -->
        </ion-button>
      </ion-buttons>
      <ion-title>{{ _3dctitle }}</ion-title>
    </ion-toolbar>
    <div style="margin-left: 45px; margin-bottom: 15px">
      <qrcode [qrdata]="menuQRCode" [size]="100" [level]="'M'"></qrcode>
    </div>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of menuItems" (click)="openModal(item)">{{
        item
      }}</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet #content main></ion-router-outlet>

<ion-content>
  <ion-list style="margin-bottom : 25px;">
    <ion-item>
      <ion-text
        color="danger"
        ngDefaultControl
        name="_yourBalance"
        [(ngModel)]="_yourBalance"
      >
        <h4 text-center>{{ _yourBalance }}</h4>
      </ion-text>
      <ion-text
        text-center
        color="danger"
        ngDefaultControl
        name="_balanceAmount"
        [(ngModel)]="_balanceAmount"
      >
        <h4>{{ _balanceAmount | number: ".1-5" }} 3DC</h4>
      </ion-text>
    </ion-item>
    <!--     <ion-item [ngClass]="'listItem'" *ngFor="let input of inputs" (click)="openWebWallet()">
      {{ input.elementType }}

      {{ input.elementTime }}

      {{ input.value | number: ".1-3" }}3dc
    </ion-item> -->
    <ion-list>
      <ion-item
        *ngFor="let address of addressesList; let i = index"
        (click)="openWebWallet(address.address)"
      >
        <ion-text color="danger" style="padding-right: 5px;"
          >{{ address.index }}
        </ion-text>
        <ion-text color="primary" style="padding-right: 5px;">{{
          address.address | slice: 0:25
        }}</ion-text>
        <ion-text style="padding-right: 2px;" color="danger">
          {{ address.amount | number: ".1-3" }}</ion-text
        >
        <ion-text color="dark">3dc</ion-text>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-segment color="dark">
    <ion-segment-button (click)="goToSend()"  > <!-- [routerLink]="['/home/send-tab']"  -->
      <ion-tab-button>
        <ion-label color="secondary">Send</ion-label>
        <ion-icon color="secondary" name="send"></ion-icon>
      </ion-tab-button>
    </ion-segment-button>

    <ion-segment-button (click)="goToReceive()">
      <ion-tab-button>
        <ion-label color="secondary">Receive</ion-label>
        <ion-icon color="secondary" name="settings"></ion-icon>
      </ion-tab-button>
    </ion-segment-button>

    <ion-segment-button [routerLink]="['/home/contact-tab']">
      <ion-tab-button>
        <ion-label color="secondary">Contacts</ion-label>
        <ion-icon color="secondary" name="contacts"></ion-icon>
      </ion-tab-button>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
